# Foundry
out/
cache/
broadcast/
lib/
forge-cache/

# Node
node_modules/
package-lock.json
.env
.env.local
.npmrc
**/.npmrc

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.settings/
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
packages/sdk-ts/.npmrc
